/* ***** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */

.container {
    max-width: 1595px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --green: rgb(126, 182, 147);
    --black: rgb(82, 92, 96);
    --white: rgb(249, 248, 248);;
    --dark-primary: rgb(39, 76, 91);
    --gray: rgb(212, 212, 212);
    --yellow: rgb(239, 211, 114);
    --glin: rgb(239, 246, 241);
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}
