@import "./global.css";

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 0px;
}

.header__name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
}

.header__nav {
    display: flex;
    gap: 130px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__list li a {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.header__form {
    display: flex;
    gap: 18px;
    position: relative;
}

.header__search {
    width: 376px;
    height: 66px;
    border-radius: 36px;
    background: rgb(250, 250, 250);
    border: none;
    padding-left: 30px;
    font-size: 25px;
}

.header__search__btn {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: var(--green);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 314px;
    top: 5px;
}

.header__shop__btn {
    width: 159px;
    height: 66px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 33px;
    padding-left: 50px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

.header__shop {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: var(--dark-primary);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 400px;
    top: 5px;
}

/* products */
.products {
    padding-top: 148px;
}

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 34px;
}

.products_box {
    display: flex;
    flex-direction: column;
}

.products_title {
    padding-top: 18px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
}

.products_suptitle {
    padding-top: 2px;
    color: var(--green);
    font-family: Yellowtail;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.products_box_bg {
    padding: 26px;
    background: url(../images/main.images/limon_portfolio.png);
    width: 451px;
    height: 421px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


.bg_2 {
    background: url(../images/main.images/morkovka_portfolio.png);

}

.bg_3 {
    background: url(../images/main.images/spinat.png);

}

.bg_4 {
    background: url(../images/main.images/pomidor_portfolio.png);

}

.bg_5 {
    background: url(../images/main.images/ejevika_portfolio.png);

}

.bg_6 {
    background: url(../images/main.images/limon_dol_portfolio.png);
}

.products_box_hover {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 900px;
    height: 375px;
    background: rgb(255, 255, 255, 0.81);
    cursor: pointer;

}

.products_btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: var(--green);

}

.products_box_bg:hover .products_box_hover {
    display: flex;
}

.products_box_bg:hover .products_btn {
    display: flex;
}

/* hero  */
.hero_wrapper {
    background: url(../images/main.images/hero_bg_portfolio.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.hero_title {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 70px;
    font-weight: 800;
    line-height: 82px;
}

/* Subscribe */

.subscribe__wrapper {
    width: 1398px;
    height: 330px;
    padding: 0px 70px 0px 70px;
    margin: 250px 0px 80px 0px;
    border: none;
    border-radius: 30px;
    background: url(../images/main.images/Subscribe__img.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.subscribe__title {
    width: 357px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 59px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.subscribe__input {
    width: 349px;
    height: 80px;
    font-size: 25px;
    padding-left: 23px;
    border: none;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.subscribe__input::placeholder {
    color: rgb(171, 171, 171);
    font-family: Roboto;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.subscribe__btn {
    width: 220px;
    height: 80px;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    background: var(--dark-primary);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

/* footer  */

.footer__wrapper {
    padding: 30px 0px 106px 0px;
    display: flex;
    justify-content: center;
}

.footer__contact {
    text-align: end;
    padding-right: 50px;
}

.contact__title {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.contact__connection {
    padding-top: 32px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.contact__info {
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
}

.footer__organick {
    padding: 0px 40px 0px 40px;
    border-left: 1px solid rgb(213, 213, 213);
    border-right: 1px solid rgb(213, 213, 213);
}

.footer__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.organick__text {
    width: 543px;
    padding: 23px 0px 49px 0px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
}

.organick__massenger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.massenger__btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: var(--glin);
}

.footer__utility {
    padding-left: 50px;
}

.utility__suptitle {
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 272.9%;
}

.pd {
    padding-top: 20px;
}

.end {
    padding: 17px 0px 17px 0px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 165.4%;
}

.end span {
    font-weight: 1000;
}