@import "./global.css";

/* Header */

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 0px;
}

.header__name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
}

.header__nav {
    display: flex;
    gap: 130px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__list li a {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.header__form {
    display: flex;
    gap: 18px;
    position: relative;
}

.header__search {
    width: 376px;
    height: 66px;
    border-radius: 36px;
    background: rgb(250, 250, 250);
    border: none;
    padding-left: 30px;
    font-size: 25px;
}

.header__search__btn {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: var(--green);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 314px;
    top: 5px;
}

.header__shop__btn {
    width: 159px;
    height: 66px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 33px;
    padding-left: 50px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

.header__shop {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: var(--dark-primary);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 400px;
    top: 5px;
}

/* Hero */

.hero {
    height: 450px;
    background: url(../images/main.images/service_single_fon.png) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero_title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Roboto';
    color: var(--dark-primary);
}

/* fon */
.fon_img {
    width: 1400px;
    height: 834px;
    background: url(../images/main.images/service_singe_fon.png);
    background-size: cover;
    margin-top: 150px;
}

/* organik */
.organik_wrapper{
    display: flex;
    align-items: center;
margin-top: 100px;
}
.organik_title {
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
}

.organik_suptitle {
    color: rgb(82, 92, 96);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
    width: 936px;
}

.organik_list {
    display: flex;
    align-items: center;
    gap: 30px;
    
    
}


.organik_list_title {
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
}

.organik_list_suptitle {
    color: rgb(82, 92, 96);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
    width: 447px;
}
.organik_btn{
    margin-top: 40px;
}
.organik_btn_best {
    width: 390px;
    height: 99px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: none;
    background: rgb(249, 248, 248);
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
    gap: 25px;
}

.organik_btn_money {
    width: 419px;
    height: 99px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: none;
    background: rgb(249, 248, 248);
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
    gap: 25px;
}

.organik_btn {
    display: flex;
    gap: 30px;
}

.box_btn {
    width: 69px;
    height: 69px;
    display: flex;
    align-items: center;
    background: rgb(126, 182, 147);
    border-radius: 50%;
    justify-content: center;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
}

.organik_list_item {
    width: 537px;
    height: 252px;
    border-radius: 20px;
    padding: 63px 45px;
    background: rgb(249, 248, 248);
}
.organik_wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.organik_titlee{
    color: rgb(39, 76, 91);
font-family: Roboto;
font-size: 35px;
font-weight: 800;

}
.organik_suptitlee{
    width: 936px;
    color: rgb(82, 92, 96);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 165.4%;
}
/* Subscribe */

.subscribe__wrapper{
    width: 1398px;
    height: 330px;
    padding: 0px 70px 0px 70px;
    margin: 250px 0px 80px 0px;
    border: none;
    border-radius: 30px;
    background: url(../images/main.images/Subscribe__img.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.subscribe__title{
    width: 357px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    line-height: 59px;
}

.subscribe__form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.subscribe__input{
    width: 349px;
    height: 80px;
    font-size: 25px;
    padding-left: 23px;
    border: none;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.subscribe__input::placeholder{
    color: rgb(171, 171, 171);
    font-family: Roboto;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.subscribe__btn{
    width: 220px;
    height: 80px;
    cursor: pointer;
    border: none;
    border-radius: 16px;
    background: var(--dark-primary);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

/* Footer */

.footer__wrapper{
    padding: 30px 0px 106px 0px;
    display: flex;
    justify-content: center;
}

.footer__contact{
    text-align: end;
    padding-right: 50px;
}

.contact__title{
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.contact__connection{
    padding-top: 32px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.contact__info{
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
}

.footer__organick{
    padding: 0px 40px 0px 40px;
    border-left: 1px solid rgb(213, 213, 213);
    border-right: 1px solid rgb(213, 213, 213);
}

.footer__name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.organick__text{
    width: 543px;
    padding: 23px 0px 49px 0px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
}

.organick__massenger{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.massenger__btn{
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: var(--glin);
}

.footer__utility{
    padding-left: 50px;
}

.utility__suptitle{
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 272.9%;
}

.pd{
    padding-top: 20px;
}

.end{
    padding: 17px 0px 17px 0px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 165.4%;
}

.end span{
    font-weight: 1000;
}