@import "./global.css";

/* Header */

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 0px;
}

.header__name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
}

.header__nav {
    display: flex;
    gap: 130px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__list li a {
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.header__form {
    display: flex;
    gap: 18px;
    position: relative;
}

.header__search {
    width: 376px;
    height: 66px;
    border-radius: 36px;
    background: rgb(250, 250, 250);
    border: none;
    padding-left: 30px;
    font-size: 25px;
}

.header__search__btn {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: var(--green);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 314px;
    top: 5px;
}

.header__shop__btn {
    width: 159px;
    height: 66px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 33px;
    padding-left: 50px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

.header__shop {
    width: 56px;
    height: 56px;
    cursor: pointer;
    background: var(--dark-primary);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 400px;
    top: 5px;
}

.dropbtn {
    background: transparent;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

/* Hero */

.hero {
    height: 450px;
    background: url(../images/main.images/services_hero.png) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero_title {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Roboto';
    color: var(--dark-primary);
}

/* better */

.better_title {
    color: rgb(126, 182, 147);
    font-family: Yellowtail;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 202px;
}

.better_info {
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
    text-align: center;

}

.better_wrapper {
    display: flex;
    align-items: center;

}

.better_list {
    display: flex;
    flex-direction: column;
    text-align: right;

}

.better_list_two {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.better_list_title {
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    padding-top: 5px;
}

.better_list_suptitle {
    color: rgb(82, 92, 96);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
    padding-top: 5px;
}

.btn {
    display: flex;
    justify-content: center;
}

.better_btn {
    width: 220px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid rgb(51, 91, 107);
    border-radius: 16px;
    background: rgb(249, 248, 248);
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;

}

/* only */
.only {
    width: 100%;
    height: 1000px;
    background: url(../images/main.images/only_fon.png) no-repeat;
    background-size: cover;
    margin-top: 200px;
}
.only_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.only_text {
    color: rgb(126, 182, 147);
    font-family: Yellowtail;
    font-size: 36px;
    font-weight: 400;
    padding-top: 227px;
}

.only_title {
    color: rgb(39, 76, 91);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
}

.only_suptitle {
    color: rgb(39, 76, 91);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    width: 671px;
}

.only_box {
    width: 107px;
    height: 107px;
    box-shadow: -4px 10px 12px 0px rgb(219, 209, 181);
    background: rgb(126, 182, 147);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Footer */

.footer__wrapper{
    padding: 30px 0px 106px 0px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.footer__contact{
    text-align: end;
    padding-right: 50px;
}

.contact__title{
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.contact__connection{
    padding-top: 32px;
    color: var(--dark-primary);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.contact__info{
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
}

.footer__organick{
    padding: 0px 40px 0px 40px;
    border-left: 1px solid rgb(213, 213, 213);
    border-right: 1px solid rgb(213, 213, 213);
}

.footer__name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.organick__text{
    width: 543px;
    padding: 23px 0px 49px 0px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
}

.organick__massenger{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.massenger__btn{
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: var(--glin);
}

.footer__utility{
    padding-left: 50px;
}

.utility__suptitle{
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 272.9%;
}

.pd{
    padding-top: 20px;
}

.end{
    padding: 17px 0px 17px 0px;
    color: var(--black);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 165.4%;
}

.end span{
    font-weight: 1000;
}
.contact_list{
    display: block;
}